<%- include("partials/_header") %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">

      <!-- Formulario para crear una nueva venta y agregar productos -->
      <form action="/venta_add" method="POST">
        <!-- Campos para la información de la venta -->
        <label for="fechaVentaInput">Fecha de Venta:</label>
        <input type="date" name="fechaVenta" class="form-control mb-2" required />
        <label for="fechaVentaInput">Cantidad:</label>
        <input type="text" name="cantidad" class="form-control mb-2" required />
        <label for="fechaVentaInput">ID de Empleado:</label>
        <input type="text" name="empleadoID"  class="form-control mb-2" required />
        <label for="fechaVentaInput">OBS:</label>
        <input type="text" name="obs" class="form-control mb-2" required />

        <!-- Agrega este bloque para mostrar el ID de la venta -->
        <% if (mostrarFormulario) { %>
          <p>El ID de la venta es: <%= venta[0].ventaID %></p>
        <% } %>

        <button type="submit" class="btn btn-info">Nueva Venta</button>
      </form>

      <!-- Campos para agregar productos a la venta -->
      <form action="/add_ventaproducto" method="POST">
        <label for="productosInput">Agregar Productos:</label>
        <div id="productosInput">
          <div class="producto">
            <label for="productoIDInput">ID de la Venta:</label>
            <input type="text" name="ventaID" class="form-control mb-2" required />

            <div class="producto">
              <label for="productoIDInput">ID del Producto:</label>
              <input type="text" name="productoID" class="form-control mb-2" required />

              <label for="cantidadInput">Cantidad:</label>
              <input type="number" name="cantidadP" class="form-control mb-2" required />

              <label for="precioUnitarioInput">Precio Unitario:</label>
              <input type="number" name="precioUnitario" class="form-control mb-2" required />

             
            </div>
          </div>

          <button type="submit" class="btn btn-info">Registrar Venta</button>
        </div>
      </form>
 <!-- Campos para agregar cita la venta -->
 <form action="/add_ventacita" method="POST">
  <label for="productosInput">Agregar Cita:</label>
  <div id="productosInput">
    <div class="producto">
      <label for="productoIDInput">ID de la Venta:</label>
      <input type="text" name="ventaID" class="form-control mb-2" required />

      <div class="producto">
        <label for="productoIDInput">ID de la Cita:</label>
        <input type="text" name="citaID" class="form-control mb-2" required />

        <label for="cantidadInput">Precio del Servicio:</label>
        <input type="number" name="precioServicio" class="form-control mb-2" required />

        <label for="precioUnitarioInput">OBS:</label>
        <input type="text" name="obsCita" class="form-control mb-2" required />

       
      </div>
    </div>

    <button type="submit" class="btn btn-info">Registrar Venta de Cita</button>
  </div>
</form>
      <div class="row">
        <div class="col-md-6 mb-3">
          <a href="/inicio" class="btn btn-success mt-3">Regresar a Inicio</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/_footer") %>
